@import "../reset.css";

:root {
    --header: 'Londrina Solid', cursive;
    --paragraph: 'Barlow', serif;
    --span: 'Satisfy', cursive;
    --other: 'Quattrocento', serif;

    
    --yellow: #FDC913;
    --light-gray: #5F5F5F;
    --gray: #292929;
    --red: #CE2829;
    --beige: #FAF7F2;
  }
  
  /* *{
    border: 1px solid lime;
    
  } */
  .order-header{
    font-family: var(--header);
    text-align: center;
    padding:0.5em;
    height: 12%;
    font-size: 50px;
    font-weight: 400;
    background-color: var(--red);
    color:white;
   
  }
.top-section{
    background-color: var(--beige);
    display:flex;
    flex-direction: column;
    align-items: center;
}


.top-width{
width:33%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-end;
gap:3rem;
line-height: 1.5;
font-family: var(--paragraph);
}

.top-width img{
    position: relative;
    width:100%;
    height: 100%;
    object-fit: fill;
}

.history-section{
    font-size:16px;
    font-weight: 500;
}

.history-section span{
    color: var(--red)
}

.all-info{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    align-content: center;
    width: 100%;

}

.pizza-summary{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 30%;
    color: var(--light-gray)
   
}


.price-container{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: 700;
}

.pizza-info{
    display: flex;
    color: var(--light-gray);
}



.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}