.checkbox-container{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    column-gap: 1em;
    row-gap: 2em;
}

.input-container{
    display: flex;
    width: 30%;

}
.checkbox{
    display: flex;
    flex-direction: column;
    
}