:root {
    --header: 'Londrina Solid', cursive;
    --paragraph: 'Barlow', serif;
    --span: 'Satisfy', cursive;
    --other: 'Quattrocento', serif;

    
    --yellow: #FDC913;
    --light-gray: #5F5F5F;
    --gray: #292929;
    --red: #CE2829;
    --beige: #FAF7F2;
  }
  