@import "../reset.css";


.footer{
    background-color: black;
    color: white;
    height: auto;
    padding: 3rem 0;
    font-family: var(--paragraph);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container{
    width: 80%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    font-weight: 400;
    padding-bottom: 3rem;
    font-style: normal;
   
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.left-container h3{
    font-family: var(--header);
    font-size: 2rem;
}


.left-container div {
    display: flex;
   
    gap:1rem;
}


.left-container img{
    width: 2rem;
    height: 2rem;
}

.location{
    padding-top: 1rem;
}

.left-container address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;
}


.middle-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.menu-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
}
.middle-header {
    display: flex;
    height: 5rem;
  
}
.middle-header h4{
    align-self: center;
}


.menu-links a{
    text-decoration: none;
    color: white;
}

.menu-links a:hover{
    color: var(--yellow)
}


.right-container{
    display: flex;  
    flex-direction: column;
    width: 30%;  
}

.right-header {
    display: flex;
    height: 5rem;
}
.right-header h4{
    align-self: center;
}


.right-container img{
    display: flex;
   
    
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
    list-style: none;
}

/*COPYRIGHT*/

.copyright{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-top: 1px solid;
    align-self: center;
    border-color: var(--light-gray);
    padding-top: 3rem ;
    
}

.copyright img{
    width: 1.5rem;
}